@import "tailwindcss";

/* スクロールバーを非表示にする */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 本コンポーネント内のスクロールバー非表示 */
.book-page-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.book-page-content::-webkit-scrollbar {
  display: none;
}
